#main_products_div_id{
    width:95%;
    margin:auto;
    margin-top:5vw;
    margin-bottom:5vw;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
#category_to_select_div{
    width:25%;
    background-color: #F0ECEA;
    text-align: left;
    /* max-height:40vh; */
    height: min-content;
    padding-bottom:2vw;
    border-radius:5px;
  

}
#product_category_div_id{
    width:65%;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;

}
#p_category_id{
    font-size:2vw;
    font-weight:bold;
    color:#AF918D;
    padding-left:4vw;
}
.p_id_checkbox{
    padding-left:4vw;
}