@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');
.container-slider {
    max-width: 90%;
    min-height: 40vw;
    margin:auto;
    margin-top:1.5vw;
    position: relative;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  #order_now_p_id{
    width:15vw;
    min-height:3vw;
    position:absolute;
    top:18vw;
    left:38vw;
    font-size:2vw;
    font-weight:bold;
    background-color: white;
    border-radius:5px;
    padding-top:0.5vw;
    border-radius:10px;
    border:1px solid orange !important;

  }


/* CSS */
#order_now_p_id{
  width:15vw;
  min-height:3vw;
  font-size:2vw;
  position:absolute;
  top:2vw;
 left:72vw;
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
 
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
 
}

#order_now_p_id:hover,
#order_now_p_id:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

#order_now_p_id:hover {
  transform: translateY(-1px);
}

#order_now_p_id:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}
 
  a{
    text-decoration: none;;
  }
  @media screen and (max-width: 700px){
    .container-slider {
        margin:auto;
        margin-top:1.5vw;
    }
  }
  .slide {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity ease-in-out 0.4s;
  }
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;

  }
  .active-anim {
    opacity: 1;
  }
  
  .btn-slide {
    width: 4.5vw;
    height: 4.5vw;
    border-radius: 50%;
    background: #f1f1f1;
    border: 1px solid rgba(34, 34, 34, 0.287);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .btn-slide img {
    width: 2.5vw;
    height: 2.5vw;
    pointer-events: none;
  }
  .prev {
    top: 50%;
    left: 20px;
    transform: translateY(-60%);
  }
  .next {
    top: 50%;
    right: 20px;
    transform: translateY(-60%);
  }
  
  
  .container-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  .dot {
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 50%;
    border: 3px solid #f1f1f1;
    margin: 0 5px;
    background: #f1f1f1;
  }
  .dot.active {
    background: rgb(32, 32, 32);
  }
  